<form class="col-12" id="form_create" action={{path('app_create')}} method="POST">
        <div calss="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="3" name="content" id="comment"></textarea>
        </div>
        <input type="submit" class="btn btn-primary mt-2 btn-block">
</form>