<form class="col-12" id="form_create" action={{path('app_create', {'id':'pos'})}} method="POST">
        <div calss="form-group">
            <label for="comment">Post:</label>
            <textarea class="form-control" rows="5" name="content" id="comment"></textarea>
        </div>
        <input type="submit" value="Create" class="btn btn-primary mt-2 btn-block">
</form>