{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="example-wrapper">
   <div class="container mt-5">
   <h2 class="text-center" >Users list</h2>
  <input class="form-control mt-3" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Nombre de posts</th>
      </tr>
    </thead>
    <tbody id="myTable">
        {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.posts|length}}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}
